<section class="card post">
  <header>
      <h4>{{post.title}}</h4>
      <h6>Posted by {{post.user.username}} on {{format_date post.creation_date}}</h6>
  </header>
  <p>{{post.content}}</p>
</section>
{{#each post.comments as |comment|}}
  {{> comment-details}}
{{/each}}

<section class = "card post">
  <header></header>
  <form id="form-comment" data-index="{{post.id}}">
    <div class="form-group">
        <label for="comment-input">Comment</label>
        <div class="textarea">
          <textarea id="comment-input" placeholder = "Introduce your comment here"></textarea>
        </div>
    </div>
    <div class="form-group">
      <button type = "submit">Submit</button>
    </div>
  </form>
</section>
<script src="/js/comment.js"></script>